# Bases de datos
*.db
*.sqlite3

# Archivos de caché de Python
__pycache__/
*.pyc

# Variables de entorno (claves secretas futuras)
.env

# Archivos de imágenes e subidas
static/uploads/

# Virtual environment
venv/
ENV/